<h1>Any Time Library</h1>
<blockquote class="blockquote">
    <p>This is a Yorbit 201 Project on Angular 2.This is self based use website application.</p>
    <footer class="blockquote-footer">Created By <cite title="Source Title">Sagnik Saha (M1037786)</cite></footer>
  </blockquote>
<hr>
  <h3>This Web Application Contians the following Features :</h3>
  <ul class="list-group">
      <li class="list-group-item">
        <span class="tag tag-default tag-pill float-xs-right">1.</span>
        Self Based Login and Registration Fucntionality
      </li>
      <li class="list-group-item">
        <span class="tag tag-default tag-pill float-xs-right">2.</span>
        User can self issue and return the book.User can issue a maximum of 5 books at a time.User can also Edit their Profile Information.
      </li>
      <li class="list-group-item">
        <span class="tag tag-default tag-pill float-xs-right">3.</span>
       User can also filter the books upon category.They can also view the book details with their cover photo.
      </li>
      <li class="list-group-item">
          <span class="tag tag-default tag-pill float-xs-right">4.</span>
         Admin can Add Books, Edit Books Details, Delete Books and can also view books information.Admin can also view the list of books issued to different Users.
        </li>
    </ul>