a 
{
    cursor: pointer;
    color: rgb(253, 253, 253);
}

b{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

/* .navbar-text navbar-right {
    float: right;
}

.logout-div {
    margin: 15px 50px 10px 20px;   
}

.navbar-brand {
   font-size: 1.8em;
} */